
@import "~@syncfusion/ej2-base/styles/material.css";
@import "~@syncfusion/ej2-buttons/styles/material.css";
@import "~@syncfusion/ej2-calendars/styles/material.css";
@import "~@syncfusion/ej2-dropdowns/styles/material.css";
@import "~@syncfusion/ej2-inputs/styles/material.css";
@import "~@syncfusion/ej2-lists/styles/material.css";
@import "~@syncfusion/ej2-navigations/styles/material.css";
@import "~@syncfusion/ej2-popups/styles/material.css";
// @import "~@syncfusion/ej2-split-buttons/styles/material.css";
@import "~@syncfusion/ej2-react-schedule/styles/material.css";
@import "~@syncfusion/ej2-react-grids/styles/material.css";
.app-body {
  padding-top: 64px;
  display: flex;
}